.article {
  font-size: 13px;
  &__title {
    font-family: var(--font-young-serif);
    color: var(--brown-800);
    padding: 0 1.6rem;
    font-weight: 400;
    font-size: 22.5px;
  }

  &__list {
    padding: 10px 24px 0 45px;

    &__li {
      padding: 6px 10px 0 10px;
      line-height: 19px;
      color: var(--stone-600);
    }

    &__span {
      font-weight: 700;
    }

    &__li::marker {
      color: var(--rose-800);
      font-size: 10px;
      align-items: center;
    }
  }
}