@use '../utils/mixins' as *;

.card {
  max-width: 18.75rem;
  background-color: var(--white);
  @include font-outfit;
  user-select: none;

  &__image {
    width: 100%;
    height: auto;
    object-fit: cover;
    cursor: pointer;
  }

  &__title {
    color: var(--stone-900);
    @include font-young-serif;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.8rem;
    padding: 1.7rem 1.6rem 1.2rem 1.6rem;
    user-select: text;
  }

  &__description {
    color: var(--stone-600);
    font-size: 0.8rem;
    line-height: 1.2rem;
    padding: 0 1.6rem 0 1.6rem;
    user-select: text;
  }

  &__preparation {
    margin: 1.6rem 1.6rem 1.1rem 1.6rem;
    padding: 1.188rem;
    background-color: var(--rose-50);
    border-radius: 0.625rem;
    user-select: text;

    &-title {
      color: var(--rose-800);
      font-weight: 700;
    }
  }

  &__list {
    font-size: 0.813rem;
    padding: 0.313rem 1.5rem 0 1.5rem;

    &-item {
      padding: 0.438rem 0.625rem 0 0.625rem;
      line-height: 1.188rem;
    }

    &-item--highlight {
      color: var(--stone-600);
      font-weight: 700;
    }

    &__item::marker {
      color: var(--rose-800);
      font-size: 0.625rem;
      align-items: center;
    }
  }
}

@media (min-width: 1440px) {

}