@use '../utils/mixins' as *;

.footer {
  margin: 1.563rem;

  &__attribution {
    font-size: 0.688rem;
    @include font-outfit;
    font-weight: 700;
    text-align: center;
  }
  &__links {
    color: hsl(228, 45%, 44%);
  }
}